p {
  font-family: Lato;
}

a {
  padding: 10px;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
}

a:hover {
  color: green;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(180, 240, 255);
}

.navlinks {
  margin-right: 1rem;
}

